In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('D:\\Information System\\ADM\\Project\\ReviewFile.csv')
df

,product,description,reviewLemmatized,pos,review_stem,review_pos,Polarity,Analysis
0,New Apple iPhone 11 (64GB) - Purple,The phone seems to be owned by some shivang ...,phone seems owned shivang gupta earlierhe deta...,phone/NN seems/VBZ owned/VBN shivang/NNS gupta...,phone seem own shivang gupta earlier detail fi...,"[('phone', 'NN'), ('seems', 'VBZ'), ('owned', ...",0.016667,Positive
1,New Apple iPhone 11 (64GB) - Purple,Its my first iphone and now I’m feeling like...,first iphone i’m feeling like i’ve wasted mone...,first/RB iphone/NN i/NN ’/VBP m/RB feeling/VBG...,first iphon feel like wast money coz heat issu,"[('first', 'RB'), ('iphone', 'NN'), ('i', 'NN'...",0.025000,Positive
2,New Apple iPhone 11 (64GB) - Purple,I found this black spot while doing set up. ...,found black spot set up given defective piece ...,found/VBN black/JJ spot/NN set/VBN up/RP given...,found black spot set given defect piec abl giv...,"[('found', 'VBN'), ('black', 'JJ'), ('spot', '...",0.111111,Positive
3,New Apple iPhone 11 (64GB) - Purple,Samsung s10 is much better than iphone 11,samsung s10 much better iphone 11,samsung/NN s10/NN much/RB better/JJR iphone/NN...,samsung much better iphon,"[('samsung', 'NN'), ('s10', 'NN'), ('much', 'R...",0.500000,Positive
4,New Apple iPhone 11 (64GB) - Purple,hiI had purchased this phone in first week o...,hii purchased phone first week june 2020 trust...,hii/NN purchased/VBD phone/NN first/JJ week/NN...,hii purchas phone first week june trust amazon...,"[('hii', 'NN'), ('purchased', 'VBD'), ('phone'...",0.044444,Positive
...,...,...,...,...,...,...,...,...
19679,Apple iPhone 7 (32GB) - Black,its a awsum phone but they said that the pro...,awsum phone said product deliver 1 day pay 1 d...,awsum/NN phone/NN said/VBD product/NN deliver/...,awsum phone said product deliv day pay day cha...,"[('awsum', 'NN'), ('phone', 'NN'), ('said', 'V...",0.000000,Neutral
19680,Apple iPhone 7 (32GB) - Black,I purchased this when there was a deal for 3...,purchased deal 37999 great phone fast take won...,purchased/VBN deal/NN 37999/CD great/JJ phone/...,purchas deal great phone fast take wonder pict...,"[('purchased', 'VBN'), ('deal', 'NN'), ('37999...",0.349537,Positive
19681,Apple iPhone 7 (32GB) - Black,User friendly,user friendly,user/RB friendly/JJ,user friendli,"[('user', 'RB'), ('friendly', 'JJ')]",0.375000,Positive
19682,Apple iPhone 7 (32GB) - Black,The iPhone 7 and 7 Plus are deeply unusual d...,iphone 7 7 plus deeply unusual device full agg...,iphone/NN 7/CD 7/CD plus/CC deeply/RB unusual/...,iphon plu deepli unusu devic full aggress brea...,"[('iphone', 'NN'), ('7', 'CD'), ('7', 'CD'), (...",0.135960,Positive
19683,Apple iPhone 7 (32GB) - Black,Have been using this device for more than 7 ...,using device 7 month it’s ben awesome love flu...,using/VBG device/NN 7/CD month/NN it/PRP ’/VBZ...,use devic month ben awesom love fluidic softwa...,"[('using', 'VBG'), ('device', 'NN'), ('7', 'CD...",0.750000,Positive

In [3]:
products  = df.groupby('product')

In [4]:
def get_splited_df_dict(df: 'pd.DataFrame', split_column: 'str'):
    """
    splits a pandas.DataFrame on split_column and returns it as a dict
    """

    df_dict = {value: df[df[split_column] == value] for value in df[split_column].unique()}

    return df_dict

In [5]:
splitted = get_splited_df_dict(df, 'product')
# # accessing the DataFrame with 'some_column_value'
# splitted[some_column_value]

In [6]:
prod_list = df['product'].unique().tolist()

In [7]:
prod_list

['New Apple iPhone 11 (64GB) - Purple',
 'Apple iPhone 7 (32GB) - Gold',
 'Apple iPhone 12 (128GB) - Black',
 'Apple iPhone\xa07 (32GB) - Rose Gold',
 'Apple iPhone 11 (128GB) - White',
 'New Apple iPhone 12 (64GB) - Green',
 'New Apple iPhone 11 (64GB) - Black',
 'Apple iPhone 11 Pro (64GB) - Gold',
 'New Apple iPhone 11 (64GB) - White',
 'New Apple iPhone 12 Pro (128GB) - Graphite',
 'New Apple iPhone 11 (128GB) - Purple',
 'New Apple iPhone 11 (128GB) - Green',
 'New Apple iPhone 11 (128GB) - Black',
 'New Apple iPhone 12 (128GB) - Blue',
 'Apple iPhone 11 Pro (64GB) - Space Grey',
 'New Apple iPhone 12 Pro Max (256GB) - Pacific Blue',
 'New Apple iPhone 11 (128GB) - (Product) RED',
 'Apple iPhone 11 Pro Max (64GB) - Space Grey',
 'New Apple iPhone 12 (64GB) - (Product) RED',
 'Apple iPhone 11 (64GB) - (Product) RED',
 'New Apple iPhone 12 Mini (64GB) - Green',
 'New Apple iPhone 11 (64GB) - Green',
 'New Apple iPhone 12 (64GB) - Black',
 'New Apple iPhone 12 Pro (256GB) - Gold',
 'Apple iPhone 11 Pro (512GB) - Midnight Green',
 'New Apple iPhone 12 Pro (256GB) - Pacific Blue',
 'Apple iPhone 12 (64GB) - Blue',
 'Apple iPhone 7 (32GB) - Black']

In [8]:
len(prod_list)

28

In [50]:
review_list = pd.DataFrame(prod_list, columns =['Products'])

In [51]:
review_list.head()

                              Products
0  New Apple iPhone 11 (64GB) - Purple
1         Apple iPhone 7 (32GB) - Gold
2      Apple iPhone 12 (128GB) - Black
3    Apple iPhone 7 (32GB) - Rose Gold
4      Apple iPhone 11 (128GB) - White

In [17]:
def get_count(prodname):
    prod_df = splitted[prodname] 
    pos_count = ((prod_df['Analysis']).value_counts()).tolist()
    return pos_count

In [18]:
pos_count = []
for prod in prod_list:
    pos_cmt = get_count(prod)
    pos_count.append(pos_cmt)

In [21]:
pos_count

[[1501, 275, 124],
 [820, 216, 122],
 [9, 1],
 [530, 162, 100],
 [1264, 290, 146],
 [40, 2, 1],
 [1601, 357, 187],
 [75, 15, 12],
 [19, 3, 2],
 [10, 3],
 [1378, 256, 140],
 [1161, 254, 119],
 [1453, 261, 146],
 [64, 5, 3],
 [86, 10, 4],
 [26, 3, 1],
 [1369, 271, 140],
 [63, 18, 7],
 [37, 7, 7],
 [1164, 238, 108],
 [18, 2],
 [1257, 295, 168],
 [84, 11, 4],
 [23, 5, 2],
 [56, 8, 8],
 [13, 3, 1],
 [58, 7, 5],
 [667, 190, 113]]

In [45]:
comm_df = pd.DataFrame(pos_count, columns = ['Positive', 'Neutral', 'Negative'])
comm_df['Negative'] = comm_df['Negative'].fillna(0)
comm_df = comm_df.astype({"Negative":'int'})
comm_df.head()

   Positive  Neutral  Negative
0      1501      275       124
1       820      216       122
2         9        1         0
3       530      162       100
4      1264      290       146

In [46]:
comm_df['Negative'] += comm_df['Neutral']
comm_df.head()

   Positive  Neutral  Negative
0      1501      275       399
1       820      216       338
2         9        1         1
3       530      162       262
4      1264      290       436

In [47]:
comm_df.drop('Neutral', axis=1, inplace=True)
comm_df.head()

   Positive  Negative
0      1501       399
1       820       338
2         9         1
3       530       262
4      1264       436

In [52]:
review_list = pd.concat([review_list, comm_df], axis=1)

In [56]:
review_list

                                             Products  Positive  Negative
0                 New Apple iPhone 11 (64GB) - Purple      1501       399
1                        Apple iPhone 7 (32GB) - Gold       820       338
2                     Apple iPhone 12 (128GB) - Black         9         1
3                   Apple iPhone 7 (32GB) - Rose Gold       530       262
4                     Apple iPhone 11 (128GB) - White      1264       436
5                  New Apple iPhone 12 (64GB) - Green        40         3
6                  New Apple iPhone 11 (64GB) - Black      1601       544
7                   Apple iPhone 11 Pro (64GB) - Gold        75        27
8                  New Apple iPhone 11 (64GB) - White        19         5
9          New Apple iPhone 12 Pro (128GB) - Graphite        10         3
10               New Apple iPhone 11 (128GB) - Purple      1378       396
11                New Apple iPhone 11 (128GB) - Green      1161       373
12                New Apple iPhone 11 (128GB) - Black      1453       407
13                 New Apple iPhone 12 (128GB) - Blue        64         8
14            Apple iPhone 11 Pro (64GB) - Space Grey        86        14
15  New Apple iPhone 12 Pro Max (256GB) - Pacific ...        26         4
16        New Apple iPhone 11 (128GB) - (Product) RED      1369       411
17        Apple iPhone 11 Pro Max (64GB) - Space Grey        63        25
18         New Apple iPhone 12 (64GB) - (Product) RED        37        14
19             Apple iPhone 11 (64GB) - (Product) RED      1164       346
20            New Apple iPhone 12 Mini (64GB) - Green        18         2
21                 New Apple iPhone 11 (64GB) - Green      1257       463
22                 New Apple iPhone 12 (64GB) - Black        84        15
23             New Apple iPhone 12 Pro (256GB) - Gold        23         7
24       Apple iPhone 11 Pro (512GB) - Midnight Green        56        16
25     New Apple iPhone 12 Pro (256GB) - Pacific Blue        13         4
26                      Apple iPhone 12 (64GB) - Blue        58        12
27                      Apple iPhone 7 (32GB) - Black       667       303

In [57]:
df_test = splitted['Apple iPhone 7 (32GB) - Black']

In [59]:
df_test['Analysis'].value_counts()

Positive    667
Neutral     190
Negative    113
Name: Analysis, dtype: int64

In [60]:
review_list.to_csv(r'D:\Information System\ADM\Project\ReviewCount.csv', encoding='utf-8', index=False)